@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="Content/Style.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="div-container">
        <div class="div-header">
            Shopping Online-Get Reward
        </div><!--div-header-->
        <div class="div-topmenu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div><!--div-topmenu-->
        <div class="clear"></div>
        <div class="div-left">
            <div class="category-title">Category</div><!--category-title-->
            <div class="category-list">
                <ul>
                    <li><a href="#">Iphone</a></li>
                    <li><a href="#">Ipad</a></li>
                    <li><a href="#">Macbook</a></li>
                </ul>
            </div><!--category-list-->
        </div><!--div-left-->
        <div class="div-main">
            <div class="top-breadcrumb">
                <ul>
                    <li><a href="#">Home</a><span class="span-breadcrumb">>></span></li>
                    <li><a href="#">Product</a></li>
                </ul>
            </div><!--top-breadcrumb-->
            <div class="clear"></div>
            <div class="main-content">
                <div class="content-image">url://</div><!--content-image-->
                <div class="content-title"><a href="#">iphone 6s Gold</a></div><!--content-title-->
                <div class="content-price">$650</div><!--content-price-->
            </div><!--main-content-->

            <div class="main-content">
                <div class="content-image">url://</div><!--content-image-->
                <div class="content-title"><a href="#">iphone 5s Gold</a></div><!--content-title-->
                <div class="content-price">$600</div><!--content-price-->
            </div><!--main-content-->

            <div class="main-content">
                <div class="content-image">url://</div><!--content-image-->
                <div class="content-title"><a href="#">MacBook Gold</a></div><!--content-title-->
                <div class="content-price">$750</div><!--content-price-->
            </div><!--main-content-->

        </div><!--div-main-->
        <div class="clear"></div>
        <div class="div-footer">
            <p>Copyright</p>
            <p>Email:<a href="#">Tib</a></p>
        </div><!--div-footer-->
    </div><!--div-container-->
</body>
</html>