@model TallyBook_Store_Management_System.Models.InventoryTb

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Dashboard</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
@*putForm/List*@
}

@*<div>
    @Html.ActionLink("Back to List", "Login")
</div>*@
